body {
  background: linear-gradient(0deg, #111, #333);
  color: #080;
  font-family: monospace;
  padding: 0;
  margin: 0;
}

#main-panel {
  display: inline-block;
  width: 98vw;
  height: 84vh;
  vertical-align: top;
}

#top-panel {
  width: 98vw;
  height: 14vh;
}

#prog-name {
  text-align: center;
}

#term-window {
  margin: 5px;
  width: 98%;
  height: 80%;
  border: 2px solid #444;
  background-color: black;
  overflow-y: auto;
}

#prog-list {
  margin: 5px;
  width: 97%;
  height: 80%;
  border: 2px solid #444;
  background-color: black;
}

button {
  margin: 5px;
  background-color: #080;
  border: none;
  color: white;
}

input[type="text"] {
  margin: 5px;
  font-family: monospace;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: 2px solid #040;
  background-color: black;
  color: #0F0;
}

input[type="text"]:focus {
  outline: none;
}

#prog-file {
  width: 25em;
}

#input-box {
  width: 98%;
}

.program-item {
  width: 100%;
  background-color: #080;
  color: black;
  font-weight: bold;
}
